@import "../utilidades/variables.scss";
@import "../utilidades/mixins.scss";

.carta {
  border-top: 6px solid;
  border-radius: 6px;
  background-color: $white;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
  padding: 12px;
  @include tamaño(254px, auto);
  &__titulo {
    @include tamaño(112px, 23px);
    font-size: $font-size-titulo;
    color: $text-titulo;
  }
  &__descripcion {
    @include tamaño(215px, 50px);
    font-size: $font-size-subtitulo;
    color: $subtitle-color;
    padding-top: 25px;
  }
  &__contenedor--img {
    padding-right: 23px;
    .img {
      @include tamaño(50px, 50px);
    }
  }
}

@include estiloBordes($colorBorde);
