<p>Metodos JS</p>
<div>
  <p>.tostring();</p>
  <p>codigo:{{ codigo }}</p>
</div>
<hr />
<div>
  <p>.slice();</p>
  <p>Total empleados perezosos: {{ empleadosPerezosos }}</p>
</div>
<hr />
<div>
  <p>.push();</p>
  <p>Empleados:{{ push }}</p>
</div>
<hr />
<div>
  <p>.tolocalstring();</p>
  <p>Codigo empleados:{{ codigoEmpleado }}</p>
</div>
<hr />
<div>
  <p>.reverse();</p>
  <p>Empleados:{{ reverse }}</p>
</div>
<hr />
<div>
  <p>.unshift();</p>
  <p>Codigo nuevo:{{ unShift }}</p>
</div>
<hr />
<div>
  <p>.fill();</p>
  <p>Codigos:{{ fill }}</p>
</div>
<hr />
<div>
  <p>.foreach();</p>
  <p>Marcas de vehiculos registradas:</p>
  @for(mensaje of forEach;track mensaje){
  <p>{{ mensaje }}</p>
}
</div>
<hr />
<div>
  <p>.filter();</p>
  <p>Empleados con 'u': {{ empleados }}</p>
</div>
<hr />
<div>
  <p>.pop();</p>
  <p>Vehiculos: {{ pop }}</p>
</div>
<hr />
<div>
  <p>.map();</p>
  <p>longitud nombres:{{map}}</p>
</div>
<hr />
<div>
  <p>.splice();</p>
  <p>Animales:{{splice}}</p>
</div>
<hr />
<div>
  <p>.sort();</p>
  <p>Animales:{{animales}}</p>
</div>
<hr />
<div>
  <p>.find();</p>
  <p>Animal Encontrado: {{ find }}</p>
</div>
<hr />
<div>
  <p>.concat();</p>
  <p>Frutas y animales: {{ concat }}</p>
</div>
<hr />
<div>
  <p>.findIndex();</p>
  <p>Frutas con la letra n: {{ findIndex }}</p>
</div>
<hr />
<div>
  <p>.includes();</p>
  <p>Empleado con el nombre Juan: {{includes}}</p>
</div>
<hr />
<div>
  <p>.indexOf();</p>
  <p>Indice del vehiculo Honda: {{indexOf}}</p>
</div>
<hr />
<div>
  <p>.join();</p>
  <p>Vehiculos: {{join}}</p>
</div>
<hr />
<div>
  <p>.reduce();</p>
  <p>Suma: {{reduce}}</p>
</div>
<hr />
<div>
  <p>.some();</p>
  <p>Suma: {{some}}</p>
</div>
