.display-block{
    display: block;
}

.display-inline-block{
    display: inline-block;
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

.background-cover{
    background-size: cover;
}
.background-position-top{
    background-position: top;
}

.backface-visibility-hidden{
    backface-visibility: hidden;
}

.text-aling-center{
    text-align: center;
}
.text-transform-uppercase{
    text-transform: uppercase;
}

.text-decoration{
    text-decoration: none;
}

