.main_container1{
    width: 700px;
    height: 42px;
}

.main_title{
    width: 133px;
    height: 22px;
}
.body1{
    width: 359px;
    height: 20px;
}

.table{
    width: 700px;
    height: 148px;
}
