.display-block {
  display: block;
}
.display-none {
  display: none;
}

.d-flex {
  display: flex;
}

.display-inline-block {
  display: inline-block;
}

.justify-center{
    justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.background-cover {
  background-size: cover;
}
.background-position-top {
  background-position: top;
}

.backface-visibility-hidden {
  backface-visibility: hidden;
}

.text-aling-center {
  text-align: center !important;
}

.text-aling-left{
  text-align: left;
}
.text-aling-right{
  text-align: right;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.text-decoration-none {
  text-decoration: none;
}

.u-margin-bottom-small {
  margin-bottom: 1rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 5rem !important;
}

.u-margin-top-big {
    margin-top: 2rem !important;
  }
  
.u-margin-top-huge {
    margin-top: 6rem !important;
  }

.margin-left {
  margin-left: 12%;
}
.margin-right {
  margin-right: 12%;
}

.letter-spacing {
  letter-spacing: 0.5rem;
}

.visibility-visible{
  visibility: visible;
}

.visibility-hidden{
  visibility: hidden;
}
.display-table{
  display: table;
}

.overflow-hidden{
  overflow: hidden;

}

.display-table-cell{
  display: table-cell
}

.vertical-align-middle{
  vertical-align: middle
}

.hyphens-auto{
  hyphens: auto;

}

.object-fit-cover{
  object-fit: cover;

}

.border-none{
  border: none;
}

.cursor-pointer{
  cursor: pointer;
}

.overflow-hidden{
  overflow: hidden;

}
 
.font-family-inherit{
  font-family: inherit;

}
.color-inherit{
  color: inherit;

}


