@import "./utilidades/utilidades.scss";
@import "./utilidades/variables.scss";
@import "./utilidades/mixins.scss";
.encabezado {
  &__titulo {
    font-size: 38px;
  }
  &__subtitulo {
    font-size: 40px;
  }
  &__descripcion {
    font-size: 15px;
    color: $subtitle-color;
    @include tamaño(519px, 85px);
  }
}

.contenedorCartas {
  gap: 16px;
}
