<div class="titulos">
  <div class="contenedor-1">
    <h1 >Reliable, efficient delivery</h1>
    <h1 >Powered by technology</h1>
    <h3 >
      Our Artificial Intelligence powered tools use millions of project data
      points to ensurethat your project is successfull
    </h3>
  </div>
</div>

<div class="cartas">
  <div class="contenedor-2">
    <h2>Team Builder</h2>
    <h4>Scans our talent network to create the optimal team for you project</h4>
    <img src="assets/iconos/Group.svg" alt="" />
  </div>
</div>

<div class="cartas">
  <div class="contenedor-2">
    <h2>Calculator</h2>
    <h4>Uses data from past projects to provide better delivery estimates</h4>
    <img src="assets/iconos/icon-calculator 1.svg" alt="" />
  </div>
</div>

<div class="cartas">
  <div class="contenedor-2">
    <h2>Karma</h2>
    <h4>Regulary evaluates our talent to ensure quality</h4>
    <img src="assets/iconos/icon-karma 1.svg" alt="" />
  </div>
</div>

<div class="cartas">
  <div class="contenedor-2">
    <h2>Supervisor</h2>
    <h4>Monitors activity to identify project readblocks</h4>
    <img src="assets/iconos/icon-supervisor 1.svg" alt="" />
  </div>
</div>
