.justify-center{
    display: flex;
    justify-content: center;
}

.align-center{
    display: flex;
    align-content: center;
}
.between{
    display: flex;
    justify-content: space-between;
}
.padding {
    padding: 46px;
  }
.text-center{
    text-align: center;
}
.gap-1 {
    display: flex;
    gap: 20px;
  }
.contenedor-1{
    width: 519px;
    height: 177px;
}

.contenedor-2{
    width: 294px;
    height: 200px;
    background-color:white;
    
}