$background-color: white;

@mixin estilos-cartas($width, $height, $background-color) {
  width: $width;
  height: $height;
  background-color: #{$background-color};
}

@mixin espacios{
    display:flex;
    justify-content:center ;
    align-content:center;
    padding:46px;
}

.contenedor-1 {
  @include estilos-cartas(519px, 177px, #fafafa);
}

.titulos{
    @include espacios;
}

.cartas{
    @include espacios;
}

.contenedor-2 {
  @include estilos-cartas(294px, 200px, white );
}
