<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="5:1"  gutterSize="15px">
      <mat-grid-tile> <mat-label>Input</mat-label></mat-grid-tile>
      <mat-grid-tile> <mat-label>Input</mat-label></mat-grid-tile>
      <mat-grid-tile> <mat-label>Input</mat-label></mat-grid-tile>
      <mat-grid-tile> <button mat-button>Instance Slot</button></mat-grid-tile>
      <mat-grid-tile> <button mat-button>Instance Slot</button></mat-grid-tile>

      <mat-grid-tile> <button mat-button>Instance Slot</button></mat-grid-tile>
      <mat-grid-tile> <mat-label>Input</mat-label></mat-grid-tile>
      <mat-grid-tile> <mat-label>Input</mat-label></mat-grid-tile>
      <mat-grid-tile> <mat-label>Input</mat-label></mat-grid-tile>
      <mat-grid-tile> <mat-label>Instance Slot</mat-label></mat-grid-tile>
    
      <mat-grid-tile> <button mat-button>Instance Slot</button></mat-grid-tile>
      <mat-grid-tile> <button mat-button>Instance Slot</button></mat-grid-tile>
      <mat-grid-tile> <mat-label>Input</mat-label></mat-grid-tile>
      <mat-grid-tile> <mat-label>Input</mat-label></mat-grid-tile>
      <mat-grid-tile><mat-label>Input</mat-label></mat-grid-tile>

  </mat-grid-list>
</div>
