<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="6:1" gutterSize="15px" Size="small">
    <mat-grid-tile>
      <button mat-button color="primary">Instance slot</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button color="primary">Instance slot</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button color="primary">Instance slot</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button color="primary">Instance slot</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button color="primary">Instance slot</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button color="primary">Instance slot</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button color="primary">Instance slot</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button color="primary">Instance slot</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button color="primary">Instance slot</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
