*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    font-weight: 400;
    
}
body{
    background-color: #FAFAFA;
}

@mixin espacios{
    display:flex;
    justify-content:center ;
    align-content:center;
    padding:46px;
}

