@use "sass:map";
@import "./variables.scss";

@mixin alineamiento($flex-direction) {
  display: flex;
  align-items: center;
  flex-direction: $flex-direction;
}

@mixin tamaño($width, $height) {
  width: $width;
  height: $height;
}
$colorBorde: (
  "error": $error,
  "info": $info,
  "warning": $warning,
  "alert": $alert,
);
@mixin estiloBordes($colorBorde) {
  @each $borde, $color in $colorBorde {
    .#{$borde} {
      border-color: $color;
    }
  }
}
