@import "../app/utilities/mixins.scss";
@import "../app/utilities/variables.scss";
@import "../app/utilities/utilities.scss";
@import "../app/utilities/animations.scss";

.header {
  @include tamaño(" ", 95vh);
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../assets/imagenes/hero.jpg");
  opacity: 0.8;

  &__logo {
    @include tamaño(" ", 2.1875rem);
  }

  &__text-box {
    transform: translate(-50%, -50%);
  }
}

.heading-primary {
  color: $color-white;

  &--main {
    font-size: 3.75rem;
    font-weight: 400;
    animation-name: moveInleft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    font-size: 1.25rem;
    font-weight: 700;
    animation: moveInRight;
  }
}

.btn {
    &:link,
    &:visited {
      padding: 0.9375rem 2.5rem;
      border-radius: 6.25rem;
      transition: all 0.2s;
      position: relative;
      font-size: 1rem;
    }
  
    &:hover {
      transform: translateY(-0.1875rem);
      box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    }
  
    &:active {
      transform: translateY(-0.0625);
    }
  
    &--white {
      background-color: $color-white;
      color: $text--grey--dark;
    }
  
    &::after {
      content: "";
      display: inherit;
      @include tamaño(100%, 100%);
      border-radius: 6.25rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
  
    &--white::after {
      background-color: $color-white;
    }
  
    &:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  
  .btn-animated {
    animation: moveInBotton 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
  