 <header class="header position-relative background-cover background-position-top ">
  <div class="header__logo-box position-absolute">
      <img src="../assets/imagenes/logo-white.png" alt="Logo" class="header__logo">
  </div>

  <div class="header__text-box position-absolute text-aling-center">
      <h1 class="heading-primary text-transform-uppercase  backface-visibility-hidden">
          <span class="heading-primary--main display-block ">Outdoors</span>
          <span class="heading-primary--sub display-block ">is where life happens</span>
      </h1>

      <a href="#section-tours" class="btn btn--white btn--animated display-inline-block  text-transform-uppercase text-decoration ">Discover our tours</a>
  </div>
</header> 
