@import"./utilities/main.scss";

.banner {
  @include tamaño(1128px, 100px);
  background-image: url("/assets/icons/BannerBackground.svg") ;

  &__title {
    color: $color-text-banner;
    font-size: $large-font;
    font-weight: 600;
  }

  &__description {
    color: $color-text-banner;
    font-size: $medium-font;
  }
}

.content {
  @include tamaño(1128px,auto)
}
