.banner {
  display: flex;
  width: 1128px;
  height: 100px;
  background-image: url(/assets/icons/BannerBackground.svg);
  .banner-title {
    color: #2063a0;
    font-size: 28px;
    font-weight: 600;
  }

  .banner-description {
    color: #2063a0;
    font-size: 16px;
  }
}

.card-container {
  display: flex;
  width: 1128px;
  height: 298px;
}
