.slide_toggle{
    width: 33px;
    height: 22px;
}
.icon{
    font-size: 16px;
}

.column_nombre{
    width: 300px;
    // height: 28px;
}

.mat-mdc-table .mdc-data-table__header-row {
    height: 36px;
}

.mat-mdc-table .mdc-data-table__row {
    height: 28px;
}
