
<table mat-table [dataSource]="dataSource" >
  <ng-container matColumnDef="nombre" class="column_nombre" >
    <th  mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
  </ng-container>

  <ng-container matColumnDef="habilitar">
    <th mat-header-cell *matHeaderCellDef>Habilitar</th>
    <td mat-cell *matCellDef="let element">
      <mat-slide-toggle class="slide_toggle" [checked]="element.Habilitar === 'activado'">
      </mat-slide-toggle>
    </td>
  </ng-container>

  <ng-container matColumnDef="obligatorio">
    <th mat-header-cell *matHeaderCellDef>obligatorio</th>
    <td mat-cell *matCellDef="let element">
      <mat-slide-toggle [checked]="element.obligatorio === 'activado'">
      </mat-slide-toggle>
    </td>
  </ng-container>

  <ng-container matColumnDef="adjuntos">
    <th mat-header-cell *matHeaderCellDef>Adjuntos</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="icon color-dark-primary-900 mat-icon-outlined" aria-hidden="false" aria-label="Example home icon" fontIcon="file_present">
      </mat-icon></td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="icon color-grey-900 mat-icon-outlined" aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
      <mat-icon class="icon color-grey-900 mat-icon-outlined" aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
