<div class="row full-width p-2 gap-1">

    <mat-card>
      <mat-card-content class="column">
        <div class="row align-items-center justify-content-start gap-1">
          <mat-divider [vertical]="true" class="bg-primary height"></mat-divider>
          <h6 class="card__title color-text-primary">{{titulo}}</h6>
        </div>
        <div class="gap-3 row">
          <p class="card__description mat-body2 color-text-secondary">{{descripcion}}</p>
          <img class="img" [src]="iconCard" alt="Icono" />
        </div>
      </mat-card-content>
    </mat-card>
  </div>