mat-divider {
  height: 22px;
  width: 2px;
}

.card {
  width: 360px;
  height: 137px;
  
  &__container-text {
    width: 328px;
    height: 75px;
  }

  &__description {
    width: 230px;
    height: 48px;
    font-size: 13px;
  }

  &__img {
    width: 86px;
    height: 75px;
  }
}
